<!-- <app-server></app-server>
    <h2>Hello World in between the Server Component</h2>
    <app-server></app-server>

    <h3>String Interpolation</h3>

    <h4>Client Id  :{{id}} and name : {{name}}</h4>

    <button class="btn" style="color: white; background-color: rgb(127, 127, 177); padding: 5px;"   (click)="createServer()"   [disabled]="!addServer" >Add Server</button>
  
    <p [innerText]="addServer" ></p>

    <button (click)="handleCreateServer()" >Allow Create Server</button>

    <h2>Two Way Data Binding...</h2>

    
    <p>Output : {{output}}</p> -->


    <!-- <app-directive></app-directive> -->
    
    <!-- <h3>Create a server</h3>
    <input type="text"  class="input-name" [(ngModel)]="output"  placeholder="Enter the server name..."  >

    <button  (click)="handleCreateServer()" class="btn" >Add Server</button>


    <p  *ngIf="addServer; else noServer">Server with Name : {{output}}  created successfully</p>

    <ng-template  #noServer>
        <p> No Server Created!</p>
    </ng-template>
    -->

    <!-- <p>Server with :{{serverId}} is  :{{getServerStatus}}</p> -->

    <h2>Hello , i am going to use and custom Directive</h2>

    <p appBasicHightlight>This is custom directive</p>