<div class="server-list">

  <div class="server-card">
    <div class="server-card__header">Testserver</div>
    <div class="server-card__body text-red">Just a test!</div>
  </div>

  <div class="server-card">
    <div class="server-card__header">Testserver</div>
    <div class="server-card__body text-red">A new Testserver!</div>
  </div>

  <div class="server-card">
    <div class="server-card__header">Testserver</div>
    <div class="server-card__body text-blue">A new Testserver!</div>
  </div>

</div>